# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# for others   #
# ============ #
*.log
*.log.meta
gmcs.rsp
gmcs.rsp.meta
smcs.rsp
smcs.rsp.meta

# ============ #
# for Build    #
# ============ #
BuildBinary/
Assets/Webst.meta
